<h1>Sirius l'application pour organiser des Apéritifs!</h1>

<p>Si vous recevez ce mail, c'est que un nouvel apéritif est prévu au sein du 107 dans les locaux d'Orion, et que vous avez été invité.</p>
<p>Voici les détails pour cet évènement:</p>
<p>Date: {{ date }}</p>
<p>Commentaire: {{ comment }}</p>
