<h1>Sirius l'application pour organiser des Apéritifs!</h1>

<p>Bonjour, Vous avez fait une demande pour rejoinde les différents utilisateurs qui sont déjà présent au sein de l'application, si vous souhaitez continuer la démarche, je vous invite à cliquer sur le lien qui va suivre :</p>
<p><a href="{{ url('register', {'selector': selector, 'validator': validator }) }}">S'inscrire</a></p>